
    <div class="card card-custom shadow mb-4">
      
      <!-- Card Body -->
      <div class="card-body">
        <div class="text-center">
          <h4>{{item}}</h4>
          <i class="fas fa-fw fa-tachometer-alt"></i>
        </div>
        <p>{{info}}<a target="_blank" rel="nofollow" href="https://undraw.co/">unDraw</a>, a constantly updated collection of beautiful svg images that you can use completely free and without attribution!</p>
        
        <a target="_blank" rel="nofollow" href="https://undraw.co/">Get More Details &rarr;</a>
      </div>
    </div>

